.inner {
  .itembox {
    margin: 10px;
    width: 100%;
    height: 100px;
    position: relative;
    img {
      width: 60px;
      margin-top: 10px;
      margin-left: 20px;
    }
    .title {
      font-size: 24px;
      font-weight: 700;
      color: #fff;
      position: absolute;
      top: 5px;
      left: 100px;
    }
    .pricebox{
      position: absolute;
      top: 50px;
      left: 105px;
      align-items: center;
      display: flex;
      vertical-align: top;

      .price{

      }
      .priceImg{
        width: 20px;
        margin-left: 5px;
        transform: translateY(-5px);
      }
    }

    .checkbox{
      position: absolute;
      top: 10px;
      left: 0px;

    }
  }
}
