@use "../constants/colors" as colors;

.cart-page {
  .inner {
    position: relative;
    display: flex;
    flex-direction: column;
    .top {
      width: 100%;
      height: 55px;
      position: absolute;
      top: 10px;
      border-bottom: 1px solid rgba($color: #fff, $alpha: 0.5);
      p {
        position: absolute;
        top: 9px;
        left: 0px;
        font-weight: 700;
        font-size: 18px;
      }
      .select {
        position: absolute;
        top: 6px;
        left: 60px;
        font-weight: 700;
      }
      .delete {
        position: absolute;
        top: 6px;
        right: 10px;
        font-weight: 700;
      }
    }

    .itembox {
      margin: 10px;
      width: 100%;
      height: 100px;
      position: relative;
      img {
        width: 60px;
        margin-top: 90px;
        margin-left: 20px;
      }
      .title {
        font-size: 20px;
        font-weight: 400;
        color: #fff;
        position: absolute;
        top: 85px;
        left: 100px;
      }
      .pricebox {
        position: absolute;
        top: 120px;
        left: 100px;
        align-items: center;
        display: flex;
        vertical-align: top;
        .priceImg {
          width: 20px;
          height: 20px;
          margin: 0 0 0 5px;
        }
      }

      input[type="checkbox"] {
        // 체크박스
        position: absolute;
        top: 90px;
        left: -10px;
        width: 20px;
        height: 20px;
        appearance: none;
        background-color: #fff;
        border: 1px solid colors.$color--highlight;
        border-radius: 50%;
        transition: background-color 0.3s, border-radius 0.3s;
        &:checked {
          background-color: colors.$color--highlight;
          &::after {
            border-radius: 3px;
            position: relative;
            top: calc(-3.5px);
            content: "\2713";
            font-size: 20px;
            color: #fff;
          }
        }
      }
    }

    .bottom {
      width: 100%;
      height: 60px;
      margin-top: 120px;
      position: relative;
      background: rgb(203, 77, 127);
      background: linear-gradient(
        159deg,
        rgba(203, 77, 127, 1) 0%,
        rgba(251, 79, 147, 1) 48%,
        rgba(203, 77, 127, 1) 100%
      );
      .allPriceText {
        position: absolute;
        font-size: 14px;
        font-weight: 500;
        top: 8px;
        margin-left: 10px;
      }
      .allprice {
        position: absolute;
        top: 21px;
        font-weight: 700;
        font-size: 24px;
        margin-left: 10px;
      }
      .buy {
        position: absolute;
        right: 10px;
        top: 10px;
        width: 140px;
        height: 40px;
        font-size: 20px;
      }
    }

    .noItem {
      margin-top: 80px;
      font-size: 16px;
    }
  }
}
