@use "../constants/colors" as colors;
@mixin center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.6/dist/web/static/pretendard.css");
.log-in {
  .inner {
    width: 800px;
    height: 100vh;
    margin: 0 auto;
    background: colors.$color--bg;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    .title {
      margin: 10px;
      font-size: 36px;
    }
    .container {
      @include center();
      display: flex;
      width: 450px;
      height: 300px;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      border: 1px solid #fff;
      border-radius: 10px;
      padding: 20px;
      .id-pw-wrapper {
        label {
          font-size: 20px;
          color: #fff;
          margin-right: 100px;
          display: flex;
          align-items: center;
        }
        input {
          font-size: 14px;
          margin-bottom: 10px;
          width: 250px;
          height: 40px;
        }
        div {
          display: flex;
          justify-content: space-between;
        }
      }
      .btn-wrapper {
        margin-top: 50px;
        display: flex;
        flex-direction: column;
        button {
          width: 300px;
          cursor: pointer;
        }
        .login-btn.btn-primary {
          height: 50px;
          margin-bottom: 10px;
        }
        .signup-btn.btn-secondary {
          height: 30px;
        }
      }
    }
  }
}
