@use "../constants/colors" as colors;
.notFoundPage {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-sizing: border-box;
  border-radius: 12px;
  height: 520px;
  color: white;
}

.NFmain {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.NFtitle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 600px;
  height: 200px;
  margin: 15px;
  font-size: 4em;
  font-weight: 700;
}
