$left--margin: 55px;
$top-position: 100px;
@use "../constants/colors" as colors;
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.6/dist/web/static/pretendard.css");
.sign-up-page {
  position: relative;
  .inner {
    width: 800px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    .greeting {
      font-size: 36px;
    }
    div.container {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 500px;
      height: 420px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      border: 1px solid #fff;
      border-radius: 10px;
      padding: 20px;
      font-size: 20px;
      .id-wrapper {
        width: 500px;
        display: flex;
        justify-content: space-around;
      }
      .password-wrapper {
        position: absolute;
        top: $top-position;
        left: $left--margin;
        display: flex;
        flex-direction: column;
        .password {
          margin: 10px;
        }
        .password-check {
          margin: 10px;
        }
      }
      .name-wrapper {
        position: absolute;
        top: $top-position * 2.3;
        left: $left--margin;
        display: flex;
        flex-direction: column;
        .name {
          margin: 10px;
        }
      }
      .img-wrapper {
        margin: 10px;
        position: absolute;
        top: $top-position * 3;
        left: $left--margin;
        font-size: 16px;
      }
    }
    .btn-primary.medium.sign-up-btn {
      position: absolute;
      top: $top-position * 4;
      left: $left--margin * 4;
    }
    button {
      cursor: pointer;
    }
    .error-message {
      color: colors.$color--highlight;
    }
    .input-err-container {
      display: flex;
      flex-direction: column;
      .error-message {
        font-size: 14px;
      }
    }
  }
}
