@import "./constants/colors";
@import "./modules/buttons";
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.6/dist/web/static/pretendard.css");
@import url("./pages/ranking.scss");
@import url("./pages/genre.scss");
@import url("./pages/genre_detail.scss");
@import url("./pages/new.scss");
@import url("./pages/home.scss");
@import url("./pages/new.scss");
@import url("./pages/login.scss");
@import url("./pages/bank.scss");
@import url("./pages/movie.scss");
@import url("./pages/order-history.scss");
@import url("./pages/order-details.scss");
@import url("./pages/cart.scss");
@import url("./pages/search.scss");

body {
  font-family: "Pretendard", sans-serif;
  background-color: $color--bg;
  color: $color--font;
}

.inner {
  width: 800px;
  margin: 0 auto;
}

#app {
  margin-top: 118px;
}

.gnb {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 1;
  background-color: $color--bg;
  transition: transform 0.3s;
  z-index: 9; //
  &:not(:has(nav)),
  &.--not-has-nav {
    border-bottom: 1px solid rgba(128, 128, 128, 0.527);
  }
  &.scroll {
    transform: translateY(-50%);
  }

  .inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 64px;
    .logo {
      display: block;
      width: 200px;
      img {
        display: block;
        width: 100%;
      }
    }
  }

  .button-group {
    display: flex;
    align-items: center;
    a {
      &.btn-signup {
        margin-right: 12px;
        border: 1px solid #ccc;
        background-color: #ccc;
        &:hover {
          background-color: darken(#ccc, 30%);
        }
      }

      &.btn-login {
      }
    }
  }

  .user {
    position: relative;
    display: flex;
    align-items: center;
    gap: 12px;
    width: max-content;
    padding-bottom: 20px;
    margin-bottom: -20px;
    .profile {
      flex-grow: 0;
      flex-shrink: 0;
      display: block;
      width: 30px;
      height: 30px;
      margin-right: 4px;
      border-radius: 50%;
      overflow: hidden;
      background-color: #fff;
      img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    .user-info {
      display: flex;
      align-items: center;
      gap: 8px;
      color: $color--font;
      .user-name {
        display: inline-block;
        vertical-align: top;
        min-width: 4em;
        max-width: 8em;
        font-size: 14px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }
    }
    .my-menu {
      width: 100%;
      display: none;
      position: absolute;
      bottom: 0;
      left: 0;
      border-radius: 4px;
      background-color: #fff;
      transform: translateY(100%);
      overflow: hidden;
      &-item {
        a {
          display: flex;
          align-items: center;
          height: 40px;
          padding: 0 12px;
          color: #000;
          font-size: 14px;
          transition: all 150ms ease-in-out;
        }

        &:hover {
          a {
            color: #fff;
            font-weight: 700;
            background-color: $color--highlight;
          }
        }
      }
    }
    &:hover {
      .my-menu {
        display: block;
      }
    }
  }
}

.lnb {
  $lnb-link-padding: 20px;
  border-top: 1px solid rgba(128, 128, 128, 0.527);
  border-bottom: 1px solid rgba(128, 128, 128, 0.527);

  .inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
  }

  &-list {
    display: flex;
    margin-left: -#{$lnb-link-padding};
  }

  &-item {
    a {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0 $lnb-link-padding;
      height: 50px;
      color: #fff;
      font-weight: 700;

      &.current-page {
        color: $color--highlight;
      }
    }

    &:not(:last-child) {
      margin-right: 12px;
    }
  }

  input {
    width: 270px;
    padding: 6px 12px;
    border-radius: 4px;
    border: 1px solid #000;

    &::placeholder {
      font-size: 12px;
    }

    &:focus {
      border-color: $color--highlight;
    }
  }

  button{
    width: 50px;
    height: 33px;
    color: #000;
    margin-left: -270px;
    border-bottom-left-radius: 0px;
    border-top-left-radius: 0px;
    border: 1px solid #000;
    color: #fff;
  }
}
