@import "./constants/colors";
@import "./modules/buttons";
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.6/dist/web/static/pretendard.css");
@import url('./pages/ranking.scss');
@import url('./pages/genre.scss');
@import url('./pages/new.scss');
@import url('./pages/home.scss');
@import url('./pages/new.scss');
@import url('./pages/login.scss');

body{
  font-family: "Pretendard", sans-serif;
  background-color: #000;
}

.inner{
  width: 800px;
  margin: 0 auto;
}
